.Enemie {
    text-align: justify;
    padding: 1rem;
    border-radius: 3rem;
    width:30%;
    background-color:lightslategrey;
    height:fit-content;
}
.Enemie img {
    width: 100%;
    object-fit: contain;
}