.App {
  background-color: darkgray;
  text-align: center;
}

.Infos,.Equipe, .Enemies {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  justify-content: space-around;
}
.footer {
  background-color: gray;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content:space-around;
}